<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We are here for you</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Centered Design</h4>
                    <p class="text-muted">Our staff of UI/UX specialists, designers and developers take a user centric approach with iterative design and development. This ensures we design simple, easy to use, and value adding products.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collaborative Development</h4>
                    <p class="text-muted">Working in tandem with the design team, after reviewing the goals of the project, we develop applications using the best technology for the project. Using lead developers with apprenticeships, we not only focus on building the products but sustainability. We ensure all products are developed in a way to support future iteration and longetivity.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Continuity</h4>
                    <p class="text-muted">Creation of the products is only the first step. We take a special interest in the maintenance the products. We know success requires low cost yet top quality solutions. We ensure any product built will continue to be a valuable asset for your organization, and include systems to build metrics in order to measure success.</p>
                </div>
            </div>
        </div>
    </section>